<!-- <div class="feature-card">
    <div class="feature-media">
        <a class="feature-image" href="#"><img src="assets/img/product/03.png" alt="product" /></a>
    </div>
    <div class="feature-content">
        <h6 class="feature-name"><a href="#">fresh organic apple</a></h6>
        <div class="feature-rating">
            <i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="far fa-star"></i>
            <a href="#">(4 Reviews)</a>
        </div>
        <h6 class="feature-price">
            <del>$50</del><span>$40<small>/kg</small></span>
        </h6>
        <a class="product-add" href="#" title="Add to Cart"><i class="far fa-shopping-cart"></i></a>
    </div>
</div> -->

<div class="feature-card">
    <div class="feature-media">
        <div class="feature-label"><label [ngClass]="['label-text', ProductLabels[product.label]]">{{ product.label }}</label></div>
        <button class="feature-wish wish"><i class="far fa-heart"></i></button>
        <div class="feature-image" [routerLink]="['/product/' + product.id]"><img src="{{ product.images[0].url }}" alt="product" /></div>
        <div class="feature-widget">
            <a
                *ngIf="product.video"
                title="Product Video"
                href="{{ product.video }}"
                class="venobox far fa-play"
                data-maxwidth="1000px"
                data-autoplay="true"
                data-vbtype="video"
            ></a>
            <div title="Product View" class="far fa-eye"></div>
            <!-- <a title="Product Compare" href="#" class="far fa-exchange"></a> -->
        </div>
    </div>
    <div class="feature-content">
        <h6 class="feature-name" [routerLink]="['/product/' + product.id]">{{ product.title }}</h6>
        <div class="feature-rating" [routerLink]="['/product/' + product.id]">
            <app-star-bar [stars]="product.stars"></app-star-bar>
            <div>({{ product.reviews }} Reviews)</div>
        </div>
        <h6 class="feature-price" [routerLink]="['/product/' + product.id]">
            <del *ngIf="product.oldPrice">{{ product.oldPrice }}</del>
            <span>{{ product.price }}<small>/{{ product.unit }}</small></span>
        </h6>
        <p class="feature-desc"></p>
        <a class="product-add" href="#" title="Add to Cart">
            <i class="far fa-shopping-cart"></i>
        </a>
    </div>
</div>
