.facebook:hover {
    color: $white;
    background: $facebook;
}

.twitter:hover {
    color: $white;
    background: $twitter;
}

.linkedin:hover {
    color: $white;
    background: $linkedin;
}

.loader {
    background: $primary;
    transform: rotate(45deg) scale(.5);
    position: relative;
    left: calc(50% - 25px);
    top: calc(50% - 50px);
    height: 60px;
    width: 60px;
}

.loader:after {
    content: '';
    border: 6px solid $primary;
    height: 100%;
    width: 100%;
    display: block;
    transform: scale(1.4);
    box-sizing: border-box;
    animation: ghost 1s ease-in-out infinite;
}

.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    z-index: 9999;
}

.label-text {
    font-size: 14px;
    padding: 5px 8px;
    line-height: 13px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: $white;
    text-align: center;
    text-transform: capitalize;
}

.label-text.off {
    background: $red;
}

.label-text.new {
    background: $green;
}

.label-text.sale {
    background: $orange;
}

.label-text.feat {
    background: #8493ca;
}

.label-text.rate {
    background: $yellow;
}

.label-text.order {
    background: $blue;
}

.section-heading {
    text-align: center;
    margin-bottom: 40px;
}

.section-btn-50 {
    text-align: center;
    margin-top: 50px;
}

.section-btn-25 {
    text-align: center;
    margin-top: 25px;
}

@media (max-width: 767px) {
    .section {
        margin-bottom: 55px;
    }

    .inner-section {
        margin-bottom: 60px;
    }

    .section-heading {
        margin-bottom: 30px;
    }

    .section-heading h2 {
        font-size: 28px;
        line-height: 36px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .section {
        margin-bottom: 75px;
    }

    .inner-section {
        margin-bottom: 80px;
    }
}

.section {
    margin-bottom: 115px;
}

.inner-section {
    margin-bottom: 100px;
}

.section-top {
    margin-top: 115px;
}

.product-add {
    font-size: 15px;
    padding: 7px 5px;
    border-radius: 6px;
    text-align: center;
    text-transform: capitalize;
    color: $green;
    background: $border;
    text-shadow: $primary-tshadow;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;

    i {
        font-size: 18px;
        margin-right: 5px;
    }
}

.product-action {
    align-items: center;
    justify-content: center;
    display: none;

    button i {
        width: 35px;
        height: 35px;
        font-size: 14px;
        line-height: 35px;
        border-radius: 6px;
        text-align: center;
        display: inline-block;
        color: $text;
        background: $chalk;
        text-shadow: $primary-tshadow;
        transition: all linear .3s;
        -webkit-transition: all linear .3s;
        -moz-transition: all linear .3s;
        -ms-transition: all linear .3s;
        -o-transition: all linear .3s;

        &:hover {
            color: $white;
            background: $primary;
        }
    }

    input {
        width: 100%;
        font-size: 15px;
        margin: 0px 5px;
        padding: 6px 0px;
        border-radius: 6px;
        text-align: center;
        color: $white;
        background: $primary;
        text-shadow: $primary-tshadow;
    }
}
