$main-shadow: 0 0 25px rgba(0, 0, 0, .20%);
$pfamily: "Rubik", sans-serif;

$h1size: 50px;
$h2size: 40px;
$h3size: 24px;
$h4size: 20px;
$h5size: 18px;
$h6size: 16px;
$bodysize: 16px;

$h1height: 58px;
$h2height: 48px;
$h3height: 32px;
$h4height: 28px;
$h5height: 26px;
$h6height: 26px;

$bodyheight: 26px;

$white: #FFFFFF;
$black: #0A0A0A;

$gray-1: #F2F2F2;
$gray-2: #DDDDDD;
$gray-3: #777777;

$bg-primary: #FFFFFF;
$bg-secondary: #C4C4C4;

$red: #FF3838;
$gray: #777777;
$text: #555555;
$blue: #1494A9;
$white: #FFFFFF;
$chalk: #F5F5F5;
$green: #11B76B;
$purple: #B12FAD;
$orange: #E86121;
$yellow: #FFAB10;
$border: #E8E8E8;
$heading: #39404A;
$primary: #019345;
$sub-heading: #565765;
$green-chalk: #DDFFD5;
$green-dark: #072F17;
$gray-chalk: #CCCCCC;

$facebook: #3B5998;
$linkedin: #0E76A8;
$twitter: #00ACEE;

$primary-bshadow: 0px 15px 35px 0px rgba(0, 0, 0, .1);
$primary-tshadow: 2px 3px 8px rgba(0, 0, 0, .1);

$secondary: #4A08FF;
$dark-blue: #3406B3;
$green: #1EBF53;
$light-green: #D6FF00;
$dark-green: #96B300;
