<aside class="cart-part" [ngClass]="{ 'active': isSideCart$ | async }">
    <div class="cart-container">
        <div class="cart-header">
            <div class="cart-total"><i class="far fa-shopping-cart"></i><span>total item (5)</span></div>
            <button class="cart-close" (click)="toggleSideCart()"><i class="far fa-times"></i></button>
        </div>
        <ul class="cart-list">
            <li class="cart-item">
                <div class="cart-media">
                    <a href="#"><img src="assets/img/product/01.png" alt="product" /></a>
                    <button class="cart-delete" (click)="toggleSideCart()"><i class="far fa-times"></i></button>
                </div>
                <div class="cart-info-group">
                    <div class="cart-info">
                        <h6><a href="product-single.html">fresh organic apple</a></h6>
                        <p>Price - $15.00</p>
                    </div>
                    <div class="cart-action-group">
                        <div class="product-action">
                            <button class="action-minus" title="Quantity Minus"><i class="far fa-minus"></i></button><input class="action-input" title="Quantity Number" type="text" name="quantity" value="1" />
                            <button class="action-plus" title="Quantity Plus"><i class="far fa-plus"></i></button>
                        </div>
                        <h6>$40.00</h6>
                    </div>
                </div>
            </li>
            <li class="cart-item">
                <div class="cart-media">
                    <a href="#"><img src="assets/img/product/02.png" alt="product" /></a><button class="cart-delete"><i class="far fa-times"></i></button>
                </div>
                <div class="cart-info-group">
                    <div class="cart-info">
                        <h6><a href="product-single.html">fresh organic apple</a></h6>
                        <p>Price - $15.00</p>
                    </div>
                    <div class="cart-action-group">
                        <div class="product-action">
                            <button class="action-minus" title="Quantity Minus"><i class="far fa-minus"></i></button><input class="action-input" title="Quantity Number" type="text" name="quantity" value="1" />
                            <button class="action-plus" title="Quantity Plus"><i class="far fa-plus"></i></button>
                        </div>
                        <h6>$40.00</h6>
                    </div>
                </div>
            </li>
            <li class="cart-item">
                <div class="cart-media">
                    <a href="#"><img src="assets/img/product/03.png" alt="product" /></a><button class="cart-delete"><i class="far fa-times"></i></button>
                </div>
                <div class="cart-info-group">
                    <div class="cart-info">
                        <h6><a href="product-single.html">fresh organic apple</a></h6>
                        <p>Price - $15.00</p>
                    </div>
                    <div class="cart-action-group">
                        <div class="product-action">
                            <button class="action-minus" title="Quantity Minus"><i class="far fa-minus"></i></button><input class="action-input" title="Quantity Number" type="text" name="quantity" value="1" />
                            <button class="action-plus" title="Quantity Plus"><i class="far fa-plus"></i></button>
                        </div>
                        <h6>$40.00</h6>
                    </div>
                </div>
            </li>
            <li class="cart-item">
                <div class="cart-media">
                    <a href="#"><img src="assets/img/product/04.png" alt="product" /></a><button class="cart-delete"><i class="far fa-times"></i></button>
                </div>
                <div class="cart-info-group">
                    <div class="cart-info">
                        <h6><a href="product-single.html">fresh organic apple</a></h6>
                        <p>Price - $15.00</p>
                    </div>
                    <div class="cart-action-group">
                        <div class="product-action">
                            <button class="action-minus" title="Quantity Minus"><i class="far fa-minus"></i></button><input class="action-input" title="Quantity Number" type="text" name="quantity" value="1" />
                            <button class="action-plus" title="Quantity Plus"><i class="far fa-plus"></i></button>
                        </div>
                        <h6>$40.00</h6>
                    </div>
                </div>
            </li>
            <li class="cart-item">
                <div class="cart-media">
                    <a href="#"><img src="assets/img/product/05.png" alt="product" /></a><button class="cart-delete"><i class="far fa-times"></i></button>
                </div>
                <div class="cart-info-group">
                    <div class="cart-info">
                        <h6><a href="product-single.html">fresh organic apple</a></h6>
                        <p>Price - $15.00</p>
                    </div>
                    <div class="cart-action-group">
                        <div class="product-action">
                            <button class="action-minus" title="Quantity Minus"><i class="far fa-minus"></i></button><input class="action-input" title="Quantity Number" type="text" name="quantity" value="1" />
                            <button class="action-plus" title="Quantity Plus"><i class="far fa-plus"></i></button>
                        </div>
                        <h6>$40.00</h6>
                    </div>
                </div>
            </li>
        </ul>
        <div class="cart-footer">
            <form class="coupon-form">
                <input type="text" placeholder="Have a coupon code? Enter it!" /><button type="submit"><span>apply</span></button>
            </form>
            <a class="cart-checkout-btn" href="#">
                <span class="checkout-label">Proceed to Checkout</span>
                <span class="checkout-price">$200.00</span>
            </a>
        </div>
    </div>
</aside>
