<section class="inner-section" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="details-gallery">
                    <div class="details-label-group"><label [ngClass]="['details-label', ProductLabels[product.label].toLowerCase() ]">{{ ProductLabels[product.label] }}</label></div>
                    <div id="product-page-image" class="splide">
                        <div class="splide__track">
                            <ul class="splide__list details-preview">
                                <li *ngFor="let slide of product.images" class="splide__slide">
                                    <img src="{{ slide?.url }}">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="product-page-image-thumbnails" class="splide">
                        <div class="splide__track">
                            <ul class="splide__list details-thumb">
                                <li *ngFor="let slide of product.images" class="splide__slide">
                                    <div>
                                        <img src="{{ slide?.url }}">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- <ul class="details-preview">
                        <li><img src="assets/img/product/01.png" alt="product" /></li>
                        <li><img src="assets/img/product/02.png" alt="product" /></li>
                        <li><img src="assets/img/product/03.png" alt="product" /></li>
                        <li><img src="assets/img/product/04.png" alt="product" /></li>
                        <li><img src="assets/img/product/05.png" alt="product" /></li>
                    </ul>
                    <ul class="details-thumb">
                        <li><img src="assets/img/product/01.png" alt="product" /></li>
                        <li><img src="assets/img/product/02.png" alt="product" /></li>
                        <li><img src="assets/img/product/03.png" alt="product" /></li>
                        <li><img src="assets/img/product/04.png" alt="product" /></li>
                        <li><img src="assets/img/product/05.png" alt="product" /></li>
                    </ul> -->
                </div>
            </div>
            <div class="col-lg-7">
                <div class="details-content">
                    <h3 class="details-name">{{ product.title }}</h3>
                    <div class="details-meta">
                        <p>SKU:<span>{{ product.sku }}</span></p>
                        <!-- <p>BRAND:<a href="#">tesulia</a></p> -->
                    </div>
                    <div class="details-rating">
                        <app-star-bar [stars]="product.stars"></app-star-bar>
                        <a href="#">({{ product.reviews }} Reviews)</a>
                    </div>
                    <h3 class="details-price">
                        <del *ngIf="product.oldPrice !== null">${{ product.oldPrice }}</del><span>${{ product.price }}<small>/{{ product.unit }}</small></span>
                    </h3>
                    <p class="details-desc">{{ product.description }}</p>
                    <div class="details-list-group">
                        <label class="details-list-title">Categories:</label>
                        <ul class="details-tag-list">
                            <li *ngFor="let c of product.categories"><a href="#">{{ c.title }}</a></li>
                        </ul>
                    </div>
                    <div class="details-list-group">
                        <label class="details-list-title">In Stock:</label>
                        <div>Available</div>
                    </div>
                    <div class="details-list-group">
                        <label class="details-list-title">Quantity:</label>
                        <div class="cart-action-group">
                            <div class="product-action">
                                <button class="action-minus" title="Quantity Minus" (click)="decreaseQuantity()"><i class="far fa-minus"></i></button>
                                <input class="action-input" title="Quantity Number" type="text" name="quantity" value="{{ quantity }}" />
                                <button class="action-plus" title="Quantity Plus" (click)="increaseQuantity()"><i class="far fa-plus"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="details-add-group">
                        <button class="product-add w-100" title="Add to Cart"><i class="far fa-shopping-cart"></i><span>Add to Cart</span></button>
                    </div>
                    <div class="details-action-group">
                        <button class="view-wish wish" title="Add Your Wishlist"><i class="far fa-heart"></i><span>Add to Wish</span></button>
                        <button class="view-compare" title="Compare This Item"><i class="far fa-exchange"></i><span>Add to Compare</span></button>
                    </div>
                    <div class="details-list-group mt-4">
                        <label class="details-list-title">Share:</label>
                        <ul class="details-share-list">
                            <li><a href="#" class="fab fa-facebook-f" title="Facebook"></a></li>
                            <li><a href="#" class="fab fa-twitter" title="Twitter"></a></li>
                            <li><a href="#" class="fab fa-linkedin-in" title="Linkedin"></a></li>
                            <li><a href="#" class="fab fa-instagram" title="Instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="inner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs">
                    <li><div class="tab-link" [class.active]="tabs.description" (click)="toggleTabs('description')">Descriptions</div></li>
                    <li><div class="tab-link" [class.active]="tabs.specification" (click)="toggleTabs('specification')">Additional Info</div></li>
                    <li><div class="tab-link" [class.active]="tabs.reviews" (click)="toggleTabs('reviews')">Reviews ({{ product.reviews }})</div></li>
                </ul>
            </div>
        </div>
        <div class="tab-pane" [class.active]="tabs.description">
            <div class="row">
                <div class="col">
                    <div class="product-details-frame product-details">
                        <div class="tab-descrip">
                            {{ product.description }}
                        </div>
                    </div>
                </div>
                <div class="col" *ngIf="product.video">
                    <div class="product-details-frame">
                        <div class="tab-descrip">
                            <img src="assets/img/video.jpg" alt="video" />
                            <a title="Product Video" href="{{ product.video }}" class="venobox far fa-play" data-autoplay="true" data-vbtype="video"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" [class.active]="tabs.specification">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-details-frame">
                        <table class="table table-bordered">
                            <tbody>
                                <tr *ngFor="let s of product.attributes">
                                    <th scope="row">{{ s.title }}</th>
                                    <td>{{ s.value }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="!product.attributes.length" class="text-center p-3">No Data</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" [class.active]="tabs.reviews">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-details-frame">
                        <ul class="review-list">
                            <li class="review-item"><app-review-card></app-review-card></li>
                        </ul>
                    </div>
                    <div class="product-details-frame p-5">
                        <h3 class="frame-title">add your review</h3>
                        <form class="review-form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="star-rating">
                                        <input type="radio" name="rating" id="star-1" /><label for="star-1"></label><input type="radio" name="rating" id="star-2" /><label for="star-2"></label>
                                        <input type="radio" name="rating" id="star-3" /><label for="star-3"></label><input type="radio" name="rating" id="star-4" /><label for="star-4"></label>
                                        <input type="radio" name="rating" id="star-5" /><label for="star-5"></label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group"><input type="text" class="form-control" placeholder="Name" /></div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group"><input type="email" class="form-control" placeholder="Email" /></div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group"><textarea class="form-control" placeholder="Your review"></textarea></div>
                                </div>
                                <div class="col-lg-12">
                                    <button class="btn btn-inline"><i class="far fa-paper-plane"></i><span>leave your review</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="inner-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-heading"><h2>Related Items</h2></div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

        </div>
    </div>
</section>
