<aside class="category-part" [ngClass]="{ 'active': isSideCategory$ | async }">
    <div class="category-container">
        <div class="category-header">
            <a href="#"><img src="assets/img/logo.png" alt="logo" /></a>
            <button class="category-close" (click)="toggleSideCategory()"><i class="far fa-times"></i></button>
        </div>
        <ul class="category-list">
            <li *ngFor="let c of categories">
                <a class="cate-link dropdown-link" href="#" (click)="expandCategory(c.name)"><i class="{{ c.icon }}"></i>{{ c.name }}</a>
                <ul class="dropdown-list" [class.active]="c.active">
                    <li *ngFor="let s of c.children"><a href="#">{{ s.name }}</a></li>
                </ul>
            </li>
        </ul>
        <div class="category-footer">
            <p>All Rights Reserved by <a href="#">Virta</a></p>
        </div>
    </div>
</aside>
