<app-banner-section></app-banner-section>
<app-suggest-section></app-suggest-section>
<app-trending-section></app-trending-section>
<app-promo-section></app-promo-section>
<app-feature-section></app-feature-section>
<app-countdown-section></app-countdown-section>
<app-newitem-section></app-newitem-section>
<app-top-section></app-top-section>
<app-partner-section></app-partner-section>
<app-visual-section></app-visual-section>
<app-blog-section></app-blog-section>
<app-news-section></app-news-section>
<!-- <app-products-list
    [products]="products"
></app-products-list>
<app-products-list></app-products-list> -->

