<!-- <div class="filters">
    <div>
        <div class="title">Categories:</div>
        <div>
            <div
                class="category"
                [ngClass]="{'selected': activeCategory === category.name}"
                *ngFor="let category of filters.categories"
                [routerLink]="['/products']"
                [queryParams]="{ category: category.name }"
            >{{ category.title }}</div>
            <div
                class="category"
                [ngClass]="{'selected': activeCategory === ''}"
                [routerLink]="['/products']"
            >All</div>
        </div>
    </div>
</div> -->
<div class="filters">
    <div class="shop-widget">
        <h6 class="shop-widget-title">Category</h6>
        <ul class="shop-widget-list shop-widget-scroll">
            <li class="shop-widget-category" *ngFor="let category of categories">
                <div class="shop-widget-content dropdown-link" (click)="expandCategory(category.name)">
                        {{ category.title }} <span class="shop-widget-number">({{ category.productCount }})</span>
                </div>

                <ul class="shop-widget-category-list" [class.active]="category.isActive">
                    <li *ngFor="let sub of category.children">
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                value="{{ sub.id }}"
                                id="{{ sub.name }}"
                            >
                            <label
                                class="form-check-label"
                                for="{{ sub.name }}"
                                (click)="onCategoryClick(sub.name)"
                            >{{ sub.title }}</label>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="shop-widget">
        <h6 class="shop-widget-title">Price Range</h6>
        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </div>
    <div class="shop-widget">
        <h6 class="shop-widget-title">Rating</h6>
        <ul class="shop-widget-list">
            <li *ngFor="let stars of [5, 4, 3, 2, 1]">
                <div class="shop-widget-content">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{ stars }}" id="{{ stars }}">
                        <label class="form-check-label" for="{{ stars }}">
                            <app-star-bar [stars]="stars"></app-star-bar>
                        </label>
                      </div>
                </div>
                <span class="shop-widget-number">(??)</span>
            </li>
        </ul>
    </div>
    <div class="shop-widget">
        <h6 class="shop-widget-title">Tags</h6>
        <ul class="shop-widget-list">
            <li *ngFor="let label of labels">
                <div class="shop-widget-content">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{ label.value }}" id="{{ label.value }}">
                        <label class="form-check-label" for="{{ label.value }}">{{ label.name }}</label>
                      </div>
                </div>
                <span class="shop-widget-number">(??)</span>
            </li>
        </ul>
    </div>
    <div class="shop-widget">
        <h6 class="shop-widget-title">Brands ? Attributes</h6>
        <!-- <ul class="shop-widget-list shop-widget-scroll">
            <li>
                <div class="shop-widget-content">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="brand1">
                        <label class="form-check-label" for="brand1">Leosala</label>
                      </div>
                </div>
                <span class="shop-widget-number">(13)</span>
            </li>
            <li>
                <div class="shop-widget-content">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="brand2">
                        <label class="form-check-label" for="brand2">Turitoka</label>
                      </div>
                </div>
                <span class="shop-widget-number">(15)</span>
            </li>
            <li>
                <div class="shop-widget-content">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="brand3">
                        <label class="form-check-label" for="brand3">feotilika</label>
                      </div>
                </div>
                <span class="shop-widget-number">(19)</span>
            </li>
            <li>
                <div class="shop-widget-content">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="brand4">
                        <label class="form-check-label" for="brand4">repotikab</label>
                      </div>
                </div>
                <span class="shop-widget-number">(20)</span>
            </li>
            <li>
                <div class="shop-widget-content">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="brand5">
                        <label class="form-check-label" for="brand5">fabileofa</label>
                      </div>
                </div>
                <span class="shop-widget-number">(25)</span>
            </li>
        </ul> -->
    </div>

</div>
