<aside class="mobile-nav" [ngClass]="{ 'active': isMobileMenu$ | async }">
    <div class="nav-container">
        <div class="nav-header">
            <a href="#"><img src="assets/img/logo.png" alt="logo" /></a>
            <button class="nav-close" (click)="toggleSideCart()"><i class="fal fa-times"></i></button>
        </div>
        <div class="nav-content">
            <div class="nav-profile">
                <ng-template *ngIf="!isLoggedIn; else Else">
                    <a *ngIf="!isLoggedIn" class="header-widget" role="button" (click)="openEntry()" title="Login">
                        <img src="assets/img/user.jpg" alt="guest" />
                    </a>
                </ng-template>
                <ng-template #Else>
                    <a [routerLink]="'/my-account'" class="nav-user" role="button">
                        <img src="assets/img/user.jpg" alt="user" />
                    </a>
                    <h4 class="nav-name"><a [routerLink]="'/my-account'" role="button">Andrian Kogoshvili</a></h4>
                </ng-template>
            </div>
            <ul class="nav-list">
                <li>
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li>
                    <a class="nav-link dropdown-link" role="button" (click)="expandCategories()">Shop</a>
                    <ul class="dropdown-list grandparent" [class.active]="areCategoriesExpanded">
                        <li *ngFor="let category of categories" class="no-lines">
                            <a
                                role="button"
                                [ngClass]="['cate-link', category.children.length && 'dropdown-link']"
                                (click)="expandCategory(category.name)"
                            >
                                <i class="{{ category.icon }}"></i>{{ category.name }}
                            </a>
                            <ul *ngIf="category.children.length" class="dropdown-list" [class.active]="category.isActive">
                                <li *ngFor="let child of category.children">
                                    <a
                                        role="button"
                                        [routerLink]="'/products'"
                                        [queryParams]="{ categories: [child.name] }"
                                    >{{ child.name }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="nav-link dropdown-link" href="#">pages</a>
                    <ul class="dropdown-list">
                        <li><a href="about.html">about us</a></li>
                        <li><a href="contact.html">contact us</a></li>
                        <li><a href="offer.html">offers</a></li>
                        <li><a href="faq.html">faqs</a></li>
                        <li><a href="compare.html">compare</a></li>
                        <li><a href="privacy.html">privacy policy</a></li>
                        <li><a href="coming-soon.html">coming soon</a></li>
                        <li><a href="blank-page.html">blank page</a></li>
                        <li><a href="error.html">404 Error</a></li>
                        <li><a href="wishlist.html">wishlist</a></li>
                        <li><a href="checkout.html">checkout</a></li>
                        <li><a href="cart.html">cart</a></li>
                        <li><a href="orderlist.html">order list</a></li>
                        <li><a href="order-detail.html">order details</a></li>
                        <li><a href="invoice.html">order invoice</a></li>
                    </ul>
                </li>
                <!-- <li>
                    <a class="nav-link dropdown-link" href="#">account</a>
                    <ul class="dropdown-list">
                        <li><a href="profile.html">my profile</a></li>
                        <li><a href="login.html">login</a></li>
                        <li><a href="register.html">register</a></li>
                        <li><a href="reset.html">reset password</a></li>
                        <li><a href="change.html">change password</a></li>
                    </ul>
                </li>
                <li>
                    <a class="nav-link dropdown-link" href="#">blogs</a>
                    <ul class="dropdown-list">
                        <li><a href="blog-grid.html">blog grid</a></li>
                        <li><a href="blog-standard.html">blog standard</a></li>
                        <li><a href="blog-details.html">blog details</a></li>
                    </ul>
                </li> -->
                <!-- <li>
                    <a class="nav-link" href="contact.html">contact us</a>
                </li> -->
            </ul>
            <div class="nav-info-group">
                <div class="nav-info">
                    <i class="icofont-ui-touch-phone"></i>
                    <p><small>call us</small><span>(+1) 123 455 9874</span></p>
                </div>
                <div class="nav-info">
                    <i class="icofont-ui-email"></i>
                    <p><small>email us</small><span>info@example.com</span></p>
                </div>
            </div>
            <div class="nav-footer">
                <p>All Rights Reserved by <a href="#">Virta</a></p>
            </div>
        </div>
    </div>
</aside>
<app-modal [isOpen]="isOpen" id="entry">
    <app-entry></app-entry>
</app-modal>
