<section class="section feature-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading"><h2>featured items</h2></div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
            <div class="col" *ngFor="let i of [1, 2, 3, 4, 5, 6]">
                <app-feature-card></app-feature-card>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-btn-25">
                    <a href="shop-grid.html" class="btn btn-inline"><i class="far fa-long-arrow-right"></i><span>view more</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
