<section class="visual-part">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="visual-wrap">
                    <div class="visual-icon"><i class="fal fa-truck"></i></div>
                    <div class="visual-content">
                        <h5>Free Delivery</h5>
                        <p>There are many variations of passages of orem available.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="visual-wrap">
                    <div class="visual-icon"><i class="fal fa-sack-dollar"></i></div>
                    <div class="visual-content">
                        <h5>Secure Payment</h5>
                        <p>There are many variations of passages of orem available.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="visual-wrap">
                    <div class="visual-icon"><i class="fal fa-sync-alt"></i></div>
                    <div class="visual-content">
                        <h5>30 Days Money Back</h5>
                        <p>There are many variations of passages of orem available.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="visual-wrap">
                    <div class="visual-icon"><i class="fal fa-headset"></i></div>
                    <div class="visual-content">
                        <h5>24/7 Customer Support</h5>
                        <p>There are many variations of passages of orem available.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
