<section class="promo-part section-top">
    <div class="container">
        <div class="row" *ngIf="items.length === 3">
            <div class="col-lg-4" *ngFor="let i of items">
                <div class="promo-img">
                    <a href="{{i.url}}"><img src="{{i.image}}" alt="promo" /></a>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="items.length === 2">
            <div class="col-sm-12 col-md-6 col-lg-6 px-xl-3" *ngFor="let i of items">
                <div class="promo-img">
                    <a href="{{i.url}}"><img src="{{i.image}}" alt="promo" /></a>
                </div>
            </div>
        </div>
    </div>
</section>
