<section class="partner-part section-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading"><h2>Our Awesome Partner</h2></div>
            </div>
            <app-slider class="col-lg-12" [class]="'partner-slider'" [id]="'partner-section-slider'" [options]="sliderOptions">
                <li class="splide__slide" *ngFor="let p of partners">
                    <a href="{{ p.url }}"><img src="{{ p.image }}" alt="brand"/></a>
                </li>
            </app-slider>
        </div>
    </div>
</section>
