@import 'variables';

.profile-image {
    text-align: center;

    a {
        border-radius: 50%;
        border: 2px solid $primary;

        img {
            width: 80px;
            border-radius: 50%;
            border: 3px solid $white;
        }
    }
}


.profile-btn {
    margin-top: 33px;

    a {
        width: 100%;
        height: 45px;
        line-height: 45px;
        border-radius: 8px;
        text-align: center;
        text-transform: capitalize;
        color: $white;
        background: $primary;
        transition: all linear .3s;
        -webkit-transition: all linear .3s;
        -moz-transition: all linear .3s;
        -ms-transition: all linear .3s;
        -o-transition: all linear .3s;

        i {
            margin-right: 5px;
        }

        &:hover {
            background: $green;
        }
    }
}


@media (max-width: 991px) {
    .profile-btn {
        margin-top: 5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .profile-image {
        margin-bottom: 20px;
    }
}

