<section class="top-part section-top">
    <div class="container">
       <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading"><h2>Top Rating</h2></div>
                    </div>
                </div>
                <div>
                    <div class="col" *ngFor="let product of topRated">
                        <app-feature-card [product]="product"></app-feature-card>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading"><h2>Top Sale</h2></div>
                    </div>
                </div>
                <div>
                    <div class="col" *ngFor="let product of topSales">
                        <app-feature-card [product]="product"></app-feature-card>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading"><h2>Top Discount</h2></div>
                    </div>
                </div>
                <div>
                    <div class="col" *ngFor="let product of topDiscounts">
                        <app-feature-card [product]="product"></app-feature-card>
                    </div>
                </div>
            </div>
       </div>
    </div>
</section>
