<section class="suggest-part section-top">
    <div class="container">
        <app-slider *ngIf="suggestions.length" [id]="'suggest-part-slider'" [class]="'suggest-slider'" [options]="sliderOptions">
            <li *ngFor="let s of suggestions" class="splide__slide">
                <a class="suggest-card" href="{{ s.url }}">
                    <img src="{{ s.image }}" alt="suggest" />
                    <h5>{{ s.label }} <span>{{ s.count }} Products</span></h5>
                </a>
            </li>
        </app-slider>
    </div>
</section>
