<section class="section suggest-part">
    <div class="container">
        <app-slider [id]="'suggest-part-slider'" [class]="'suggest-slider slider-arrow'" [options]="sliderOptions">
            <li class="splide__slide">
                <a class="suggest-card" href="#">
                    <img src="assets/img/suggest/01.jpg" alt="suggest" />
                    <h5>fresh vegetables <span>120 items</span></h5>
                </a>
            </li>
            <li class="splide__slide">
                <a class="suggest-card" href="#">
                    <img src="assets/img/suggest/02.jpg" alt="suggest" />
                    <h5>fruits & juice <span>105 items</span></h5>
                </a>
            </li>
            <li class="splide__slide">
                <a class="suggest-card" href="#">
                    <img src="assets/img/suggest/03.jpg" alt="suggest" />
                    <h5>groceries <span>50 items</span></h5>
                </a>
            </li>
            <li class="splide__slide">
                <a class="suggest-card" href="#">
                    <img src="assets/img/suggest/04.jpg" alt="suggest" />
                    <h5>dairy & eggs <span>20 items</span></h5>
                </a>
            </li>
            <li class="splide__slide">
                <a class="suggest-card" href="#">
                    <img src="assets/img/suggest/05.jpg" alt="suggest" />
                    <h5>sea foods & fishes<span>80 items</span></h5>
                </a>
            </li>
            <li class="splide__slide">
                <a class="suggest-card" href="#">
                    <img src="assets/img/suggest/06.jpg" alt="suggest" />
                    <h5>soft drinks <span>10 items</span></h5>
                </a>
            </li>
            <li class="splide__slide">
                <a class="suggest-card" href="#">
                    <img src="assets/img/suggest/07.jpg" alt="suggest" />
                    <h5>dry foods <span>31 items</span></h5>
                </a>
            </li>
            <li class="splide__slide">
                <a class="suggest-card" href="#">
                    <img src="assets/img/suggest/08.jpg" alt="suggest" />
                    <h5>fast foods <span>150 items</span></h5>
                </a>
            </li>
        </app-slider>
    </div>
</section>
