<section class="news-part section-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 col-xl-7">
                <div class="news-text">
                    <h2>Subscribe our newsletter for update</h2>
                    <p>There are many variations of passages of orem psum available</p>
                </div>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
                <form class="news-form">
                    <input type="text" placeholder="Enter Your Email Address" />
                    <button>
                        <span>Subscribe <i class="far fa-paper-plane"></i></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
