<div class="modal" id="product-view">
    <div class="modal-dialog">
        <div class="modal-content">
            <button class="modal-close far fa-times" data-bs-dismiss="modal"></button>
            <div class="product-view">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="view-gallery">
                            <div class="view-label-group"><label class="view-label new">new</label></div>
                            <ul class="preview-slider slider-arrow">
                                <li><img src="assets/img/product/01.png" alt="product" /></li>
                                <li><img src="assets/img/product/02.png" alt="product" /></li>
                                <li><img src="assets/img/product/03.png" alt="product" /></li>
                                <li><img src="assets/img/product/04.png" alt="product" /></li>
                                <li><img src="assets/img/product/05.png" alt="product" /></li>
                                <li><img src="assets/img/product/06.png" alt="product" /></li>
                                <li><img src="assets/img/product/07.png" alt="product" /></li>
                            </ul>
                            <ul class="thumb-slider">
                                <li><img src="assets/img/product/01.png" alt="product" /></li>
                                <li><img src="assets/img/product/02.png" alt="product" /></li>
                                <li><img src="assets/img/product/03.png" alt="product" /></li>
                                <li><img src="assets/img/product/04.png" alt="product" /></li>
                                <li><img src="assets/img/product/05.png" alt="product" /></li>
                                <li><img src="assets/img/product/06.png" alt="product" /></li>
                                <li><img src="assets/img/product/07.png" alt="product" /></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="view-details">
                            <h3 class="view-name"><a href="product-details.html">fresh organic apple</a></h3>
                            <div class="view-meta">
                                <p>SKU:<span>3214567</span></p>
                                <p>BRAND:<a href="#">tesulia</a></p>
                            </div>
                            <div class="view-rating">
                                <i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="active fas fa-star"></i><i class="far fa-star"></i>
                                <a href="product-details.html">(10 reviews)</a>
                            </div>
                            <h3 class="view-price">
                                <del>$50.00</del><span>$30.00<small>/kg</small></span>
                            </h3>
                            <p class="view-desc">There are many variations of passages of orem psum available but the majority have suffered alteration in some form by injected humour or randomised.</p>
                            <div class="view-list-group">
                                <label class="view-list-title">tags:</label>
                                <ul class="view-tag-list">
                                    <li><a href="#">fruits</a></li>
                                    <li><a href="#">organic</a></li>
                                    <li><a href="#">vegetable</a></li>
                                </ul>
                            </div>
                            <div class="view-list-group">
                                <label class="view-list-title">In Stock:</label>
                                <div>Available</div>
                            </div>
                            <div class="view-list-group">
                                <label class="view-list-title">Quantity:</label>
                                <div class="cart-action-group">
                                    <div class="product-action">
                                        <button class="action-minus" title="Quantity Minus"><i class="far fa-minus"></i></button><input class="action-input" title="Quantity Number" type="text" name="quantity" value="1" />
                                        <button class="action-plus" title="Quantity Plus"><i class="far fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="view-add-group">
                                <button class="product-add w-100" title="Add to Cart"><i class="far fa-shopping-cart"></i><span>add to cart</span></button>
                            </div>
                            <div class="view-action-group">
                                <a class="view-wish wish" href="#" title="Add Your Wishlist"><i class="far fa-heart"></i><span>add to wish</span></a>
                                <a class="view-compare" href="compare.html" title="Compare This Item"><i class="far fa-exchange"></i><span>Add to Compare</span></a>
                            </div>
                            <div class="view-list-group mt-4">
                                <label class="view-list-title">Share:</label>
                                <ul class="view-share-list">
                                    <li><a href="#" class="fab fa-facebook-f" title="Facebook"></a></li>
                                    <li><a href="#" class="fab fa-twitter" title="Twitter"></a></li>
                                    <li><a href="#" class="fab fa-linkedin-in" title="Linkedin"></a></li>
                                    <li><a href="#" class="fab fa-instagram" title="Instagram"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
