<footer class="footer-part">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget">
                    <a class="footer-logo" href="#"><img src="assets/img/logo.png" alt="logo" /></a>
                    <p class="footer-desc">Design by Youtoview<br/>Frontend and Backend implemented<br/>by Andrian Kogoshvili</p>
                    <ul class="footer-social">
                        <li><a class="fab fa-facebook-f" href="#"></a></li>
                        <li><a class="fab fa-twitter" href="#"></a></li>
                        <li><a class="fab fa-linkedin-in" href="#"></a></li>
                        <li><a class="fab fa-instagram" href="#"></a></li>
                        <li><a class="fab fa-pinterest" href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget">
                    <h3 class="footer-title">Quick Links</h3>
                    <div class="footer-links">
                        <ul>
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Track Order</a></li>
                            <li><a href="#">Create Account</a></li>
                            <li><a href="#">Login Account</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget contact">
                    <h3 class="footer-title">Contact Us</h3>
                    <ul class="footer-contact">
                        <li>
                            <i class="fal fa-envelope-open-text"></i>
                            <p><span>info@example.com</span><span>support@example.com</span></p>
                        </li>
                        <li>
                            <i class="fal fa-phone"></i>
                            <p><span>(+995) 123 45 67 89</span><span>(+995) 123 45 67 89</span></p>
                        </li>
                        <li>
                            <i class="fal fa-map-marker-alt"></i>
                            <p>Georgia, Tbilisi</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget">
                    <h3 class="footer-title">Download App</h3>
                    <p class="footer-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit mauris nec turpis vulputate, at tincidunt quam molestie.</p>
                    <div class="footer-app">
                        <a href="#"><img src="assets/img/download/play-store.PNG" alt="google" /></a>
                        <a href="#"><img src="assets/img/download/app-store.PNG"  alt="app" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="footer-bottom">
                    <p class="footer-copytext">&copy; Copyright 2021 <a  href="#">Virta</a> All Rights Reserved.</p>
                    <div class="footer-card">
                        <a href="#"><img src="assets/img/payment/jpg/01.jpg" alt="payment" /></a>
                        <a href="#"><img src="assets/img/payment/jpg/02.jpg" alt="payment" /></a>
                        <a href="#"><img src="assets/img/payment/jpg/03.jpg" alt="payment" /></a>
                        <a href="#"><img src="assets/img/payment/jpg/04.jpg" alt="payment" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
