<div class="review-item">
    <div class="review-media">
        <div class="review-avatar"><img src="assets/img/avatar/com.jpg" alt="review" /></div>
        <h5 class="review-meta"><div>{{ review.author }}</div><span>{{ review.date }}</span></h5>
    </div>
    <ul class="review-rating">
        <li class="fas fa-star"></li>
        <li class="fas fa-star"></li>
        <li class="fas fa-star"></li>
        <li class="fas fa-star"></li>
        <li class="far fa-star"></li>
    </ul>
    <p class="review-desc">{{ review.description }}</p>
</div>
