<section class="banner-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-4">
                <app-slider [id]="'home-page-banners'" [class]="'home-grid-slider'" [options]="sliderOptions">
                    <a href="#" class="splide__slide"><img src="assets/img/slider/slider-3.jpg" alt="" /></a>
                    <a href="#" class="splide__slide"><img src="assets/img/slider/slider-4.jpg" alt="" /></a>
                </app-slider>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-sm-6 col-lg-12">
                        <div class="home-grid-promo">
                            <a href="#"><img src="assets/img/banner/6.jpg" alt="promo" /></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-12 mt-3">
                        <div class="home-grid-promo">
                            <a href="#"><img src="assets/img/banner/7.jpg" alt="promo" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
